[ req ]
default_bits = 2048
default_md = sha256
distinguished_name = subject
req_extensions = req_ext
x509_extensions = req_ext
string_mask = utf8only
prompt = no

[ req_ext ]
basicConstraints = critical, CA:FALSE
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment, dataEncipherment
subjectAltName = URI:urn:mtconnect.org:MTConnect:MTConnect,IP:10.211.55.2
subjectKeyIdentifier = hash
authorityKeyIdentifier=keyid:always,issuer:always

[ subject ]
countryName = US
stateOrProvinceName = California
localityName = Oakland
organizationName = MTConnect
commonName = mtconnect@alyosha